<h1>LOTTERY NUMBERS FOR YOU!!!!</h1>

<p><%= @lottery %></p>
<ul>
	<li><%= rand(1...20) %></li>
	<li><%= rand(1...20) %></li>
	<li><%= rand(1...20) %></li>
	<li><%= rand(1...20) %></li>
	<li><%= rand(1...20) %></li>
	<li><%= rand(1...20) %></li>
</ul>
	